In [16]:
import yfinance as yf

tickers = [
    "AAPL", "AMZN", "MSFT", "TSLA", "META", "GOOGL", "INTC", "NVDA", 
    "PFE", "JNJ", "KO", "PEP", "XOM", "CVX", "WMT", "JPM", "WFC", 
    "T", "VZ", "MRK", "HON", "LMT", "F", "GM", "EBAY", "MCD", "SBUX", 
    "CRM", "PYPL", "V", "MA", "COST", "HD", "NKE", "NEM", 
    "FCX", "FDX", "UNP", "X", "UA", "FL", "ETSY", "TRIP", "COTY", 
    "MUR", "AMCR", "PRGO","PG","BAC","C","ABT","GE","BA", 
    "NKTR", "SIG", "URBN", "NBR", "BKNG", "EXPE", "EL", "ULTA", "LULU",
    "ADBE","UAA"
]

# Define the date range
start_date = "2014-01-01"
end_date = "2022-12-31"

# Download data for the specified tickers and date range
data = yf.download(tickers, start=start_date, end=end_date,actions=True)

# Select only the "Adj Close" column
close_data = data['Close']

# Display the first few rows of the adjusted close data
#adj_close_data

[*********************100%***********************]  64 of 64 completed

In [17]:
import pandas as pd
df = pd.DataFrame(close_data)

In [18]:
df["UAA"]

Date
2014-01-02 00:00:00+00:00    21.745001
2014-01-03 00:00:00+00:00    21.747499
2014-01-06 00:00:00+00:00    21.652500
2014-01-07 00:00:00+00:00    21.695000
2014-01-08 00:00:00+00:00    21.725000
                               ...
2022-12-23 00:00:00+00:00     9.770000
2022-12-27 00:00:00+00:00     9.970000
2022-12-28 00:00:00+00:00     9.600000
2022-12-29 00:00:00+00:00     9.960000
2022-12-30 00:00:00+00:00    10.160000
Name: UAA, Length: 2266, dtype: float64

In [19]:
#pd.to_datetime(df['Date']).apply(lambda x: x.date())

# Set 'Date' as the index to enable date filtering
#df = df.set_index('Date')

# Convert all columns (except the Date) to numeric, forcing errors to NaN
df[df.columns] = df[df.columns].apply(pd.to_numeric, errors='coerce')

In [20]:
df.to_csv("performance_data.csv")

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2266 entries, 2014-01-02 00:00:00+00:00 to 2022-12-30 00:00:00+00:00
Data columns (total 63 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    2266 non-null   float64
 1   ABT     2266 non-null   float64
 2   ADBE    2266 non-null   float64
 3   AMCR    2266 non-null   float64
 4   AMZN    2266 non-null   float64
 5   BA      2266 non-null   float64
 6   BAC     2266 non-null   float64
 7   BKNG    2266 non-null   float64
 8   C       2266 non-null   float64
 9   COST    2266 non-null   float64
 10  COTY    2266 non-null   float64
 11  CRM     2266 non-null   float64
 12  CVX     2266 non-null   float64
 13  EBAY    2266 non-null   float64
 14  EL      2266 non-null   float64
 15  ETSY    1943 non-null   float64
 16  EXPE    2266 non-null   float64
 17  F       2266 non-null   float64
 18  FCX     2266 non-null   float64
 19  FDX     2266 non-null   float64
 20  FL      2266 non-null   float64
 21  GE      2266 non-null   float64
 22  GM      2266 non-null   float64
 23  GOOGL   2266 non-null   float64
 24  HD      2266 non-null   float64
 25  HON     2266 non-null   float64
 26  INTC    2266 non-null   float64
 27  JNJ     2266 non-null   float64
 28  JPM     2266 non-null   float64
 29  KO      2266 non-null   float64
 30  LMT     2266 non-null   float64
 31  LULU    2266 non-null   float64
 32  MA      2266 non-null   float64
 33  MCD     2266 non-null   float64
 34  META    2266 non-null   float64
 35  MRK     2266 non-null   float64
 36  MSFT    2266 non-null   float64
 37  MUR     2266 non-null   float64
 38  NBR     2266 non-null   float64
 39  NEM     2266 non-null   float64
 40  NKE     2266 non-null   float64
 41  NKTR    2266 non-null   float64
 42  NVDA    2266 non-null   float64
 43  PEP     2266 non-null   float64
 44  PFE     2266 non-null   float64
 45  PG      2266 non-null   float64
 46  PRGO    2266 non-null   float64
 47  PYPL    1888 non-null   float64
 48  SBUX    2266 non-null   float64
 49  SIG     2266 non-null   float64
 50  T       2266 non-null   float64
 51  TRIP    2266 non-null   float64
 52  TSLA    2266 non-null   float64
 53  UA      1707 non-null   float64
 54  ULTA    2266 non-null   float64
 55  UNP     2266 non-null   float64
 56  URBN    2266 non-null   float64
 57  V       2266 non-null   float64
 58  VZ      2266 non-null   float64
 59  WFC     2266 non-null   float64
 60  WMT     2266 non-null   float64
 61  X       2266 non-null   float64
 62  XOM     2266 non-null   float64
dtypes: float64(63)
memory usage: 1.1 MB