In [16]:
import yfinance as yf

tickers = [
    "AAPL", "AMZN", "MSFT", "TSLA", "META", "GOOGL", "INTC", "NVDA", 
    "PFE", "JNJ", "KO", "PEP", "XOM", "CVX", "WMT", "JPM", "WFC", 
    "T", "VZ", "MRK", "HON", "LMT", "F", "GM", "EBAY", "MCD", "SBUX", 
    "CRM", "ATVI", "PYPL", "V", "MA", "COST", "HD", "NKE", "NEM", 
    "FCX", "FDX", "UNP", "X", "UA", "FL", "ETSY", "TRIP", "COTY", 
    "MUR", "YHOO", "BBBY", "ARG", "AMCR", "PRGO", "XEC", "STI", 
    "NKTR", "SIG", "URBN", "NBR", "BKNG", "EXPE", "EL", "ULTA", "LULU"
]

# Define the date range
start_date = "2014-01-01"
end_date = "2022-12-31"

# Download data for the specified tickers and date range
data = yf.download(tickers, start=start_date, end=end_date)

# Select only the "Adj Close" column
adj_close_data = data['Adj Close']

# Display the first few rows of the adjusted close data
print(adj_close_data.head())

[*********************100%***********************]  62 of 62 completed

5 Failed downloads:
['BBBY', 'XEC', 'YHOO', 'ATVI']: YFTzMissingError('$%ticker%: possibly delisted; no timezone found')
['ARG']: YFPricesMissingError('$%ticker%: possibly delisted; no price data found  (1d 2014-01-01 -> 2022-12-31)')

Ticker                          AAPL      AMCR       AMZN  ARG  ATVI  BBBY  \
Date
2014-01-02 00:00:00+00:00  17.234299  5.966912  19.898500  NaN   NaN   NaN
2014-01-03 00:00:00+00:00  16.855732  5.910501  19.822001  NaN   NaN   NaN
2014-01-06 00:00:00+00:00  16.947643  5.910501  19.681499  NaN   NaN   NaN
2014-01-07 00:00:00+00:00  16.826437  5.923036  19.901501  NaN   NaN   NaN
2014-01-08 00:00:00+00:00  16.932997  5.948108  20.096001  NaN   NaN   NaN

Ticker                            BKNG       COST       COTY        CRM  ...  \
Date                                                                     ...
2014-01-02 00:00:00+00:00  1137.255005  94.369156  13.255093  54.617535  ...
2014-01-03 00:00:00+00:00  1124.586304  93.952652  13.263605  54.876385  ...
2014-01-06 00:00:00+00:00  1131.387207  93.239708  12.940104  53.990318  ...
2014-01-07 00:00:00+00:00  1154.759033  92.807159  12.931589  54.707138  ...
2014-01-08 00:00:00+00:00  1149.228760  91.357285  12.854971  56.688335  ...

Ticker                           UNP       URBN          V         VZ  \
Date
2014-01-02 00:00:00+00:00  65.995407  37.779999  51.132057  28.368593
2014-01-03 00:00:00+00:00  65.892731  37.990002  51.166767  28.032804
2014-01-06 00:00:00+00:00  65.225319  37.959999  50.859062  28.189116
2014-01-07 00:00:00+00:00  65.801903  37.980000  51.247738  28.542274
2014-01-08 00:00:00+00:00  65.924301  37.869999  51.412010  28.384264

Ticker                           WFC        WMT          X  XEC        XOM  \
Date
2014-01-02 00:00:00+00:00  32.857018  21.054293  27.722551  NaN  62.739452
2014-01-03 00:00:00+00:00  33.090565  20.984922  27.374645  NaN  62.588486
2014-01-06 00:00:00+00:00  33.148949  20.867523  27.072515  NaN  62.682816
2014-01-07 00:00:00+00:00  33.134369  20.931561  26.953495  NaN  63.569683
2014-01-08 00:00:00+00:00  33.513882  20.766136  27.099983  NaN  63.362110

Ticker                     YHOO
Date
2014-01-02 00:00:00+00:00   NaN
2014-01-03 00:00:00+00:00   NaN
2014-01-06 00:00:00+00:00   NaN
2014-01-07 00:00:00+00:00   NaN
2014-01-08 00:00:00+00:00   NaN

[5 rows x 62 columns]

In [20]:
import pandas as pd
df = pd.DataFrame(adj_close_data)

In [21]:
df

Ticker,AAPL,AMCR,AMZN,ARG,ATVI,BBBY,BKNG,COST,COTY,CRM,...,UNP,URBN,V,VZ,WFC,WMT,X,XEC,XOM,YHOO
Date,,,,,,,,,,,,,,,,,,,,,
2014-01-02 00:00:00+00:00,17.234299,5.966912,19.898500,NaN,NaN,NaN,1137.255005,94.369156,13.255093,54.617535,...,65.995407,37.779999,51.132057,28.368593,32.857018,21.054293,27.722551,NaN,62.739452,NaN
2014-01-03 00:00:00+00:00,16.855732,5.910501,19.822001,NaN,NaN,NaN,1124.586304,93.952652,13.263605,54.876385,...,65.892731,37.990002,51.166767,28.032804,33.090565,20.984922,27.374645,NaN,62.588486,NaN
2014-01-06 00:00:00+00:00,16.947643,5.910501,19.681499,NaN,NaN,NaN,1131.387207,93.239708,12.940104,53.990318,...,65.225319,37.959999,50.859062,28.189116,33.148949,20.867523,27.072515,NaN,62.682816,NaN
2014-01-07 00:00:00+00:00,16.826437,5.923036,19.901501,NaN,NaN,NaN,1154.759033,92.807159,12.931589,54.707138,...,65.801903,37.980000,51.247738,28.542274,33.134369,20.931561,26.953495,NaN,63.569683,NaN
2014-01-08 00:00:00+00:00,16.932997,5.948108,20.096001,NaN,NaN,NaN,1149.228760,91.357285,12.854971,56.688335,...,65.924301,37.869999,51.412010,28.384264,33.513882,20.766136,27.099983,NaN,63.362110,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23 00:00:00+00:00,130.487823,11.056021,85.250000,NaN,NaN,NaN,1957.432251,446.356476,8.320000,128.867920,...,201.468124,24.120001,202.659302,33.546482,38.713154,46.747612,25.637962,NaN,101.625359,NaN
2022-12-27 00:00:00+00:00,128.676819,11.074356,83.040001,NaN,NaN,NaN,1983.991089,442.352570,8.470000,130.082535,...,201.861618,23.820000,203.112198,34.280117,38.769833,46.760624,25.736719,NaN,103.037346,NaN
2022-12-28 00:00:00+00:00,124.728371,10.918509,81.820000,NaN,NaN,NaN,1944.842651,437.036621,8.420000,127.902199,...,198.550354,23.590000,201.832260,33.895832,38.845406,45.941223,24.581236,NaN,101.344833,NaN
2022-12-29 00:00:00+00:00,128.261215,11.019352,84.180000,NaN,NaN,NaN,1989.193604,440.451996,8.640000,131.954208,...,200.805878,24.049999,204.854950,34.288845,39.043789,46.220852,25.252798,NaN,102.111603,NaN
2022-12-30 00:00:00+00:00,128.577881,10.918509,84.000000,NaN,NaN,NaN,2000.879517,440.423004,8.560000,132.003983,...,198.742325,23.850000,204.559570,34.411121,39.006001,46.103802,24.739250,NaN,103.140190,NaN

In [22]:
#pd.to_datetime(df['Date']).apply(lambda x: x.date())

# Set 'Date' as the index to enable date filtering
#df = df.set_index('Date')

# Convert all columns (except the Date) to numeric, forcing errors to NaN
df[df.columns] = df[df.columns].apply(pd.to_numeric, errors='coerce')

In [23]:
df.to_csv("performance_data.csv")

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 501 entries, 2022-10-24 00:00:00+00:00 to 2024-10-21 00:00:00+00:00
Columns: 1242 entries, ('Adj Close', 'AAPL') to ('Volume', 'ZTS')
dtypes: float64(1040), int64(202)
memory usage: 4.8 MB