In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [11]:
df = pd.read_csv("../data/gpt_fake_recommendations.csv")

In [12]:
df.head()

,Company,Short Name,Date,Target Price,Recommendation,Commentary
0,AAPL,AAPL,2023-01-15,202.274134,Buy,"Given slowing growth in China, we see upside i..."
1,MSFT,MSFT,2023-02-15,383.540491,Buy,"Analysts recommend buying MSFT, thanks to incr..."
2,AMZN,AMZN,2023-03-15,386.047114,Sell,AMZN is facing difficulties with rising costs ...
3,GOOGL,GOOGL,2023-04-15,242.455089,Buy,GOOGL is set to grow due to growth in Google C...
4,TSLA,TSLA,2023-05-15,220.409261,Hold,"Due to strong sales of Model 3, TSLA is best h..."

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         1200 non-null   object
 1   Short Name      1200 non-null   object
 2   Date            1200 non-null   object
 3   Target Price    1200 non-null   float64
 4   Recommendation  1200 non-null   object
 5   Commentary      1200 non-null   object
dtypes: float64(1), object(5)
memory usage: 56.4+ KB

In [14]:
df.describe()

       Target Price
count   1200.000000
mean     242.698710
std       86.626988
min      100.787248
25%      164.679585
50%      238.314569
75%      313.495571
max      399.948739

In [15]:
df.value_counts("Recommendation")

Recommendation
Sell    411
Buy     398
Hold    391
Name: count, dtype: int64

In [16]:
df.value_counts("Company")

Company
AAPL     120
AMZN     120
BRK.B    120
GOOGL    120
JNJ      120
META     120
MSFT     120
NVDA     120
TSLA     120
XOM      120
Name: count, dtype: int64

In [17]:
df.groupby(["Short Name"]).mean("Target Price")

            Target Price
Short Name
AAPL          256.430061
AMZN          243.591541
BRK.B         227.358866
GOOGL         243.146209
JNJ           244.373421
META          239.596469
MSFT          242.677267
NVDA          242.060674
TSLA          243.606285
XOM           244.146303