In [15]:
df.value_counts("Recommendation")

Recommendation
Sell    411
Buy     398
Hold    391
Name: count, dtype: int64

In [16]:
df.value_counts("Company")

Company
AAPL     120
AMZN     120
BRK.B    120
GOOGL    120
JNJ      120
META     120
MSFT     120
NVDA     120
TSLA     120
XOM      120
Name: count, dtype: int64

In [17]:
df.groupby(["Short Name"]).mean("Target Price")

            Target Price
Short Name
AAPL          256.430061
AMZN          243.591541
BRK.B         227.358866
GOOGL         243.146209
JNJ           244.373421
META          239.596469
MSFT          242.677267
NVDA          242.060674
TSLA          243.606285
XOM           244.146303