In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv("../data/gpt_1200_recommendations.csv")

In [4]:
df.head()

,Company,Short Name,Date,Target Price,Recommendation,Commentary
0,Apple,AAPL,2023-01-15,188.586299,Sell,AAPL is facing increasing pressure from compet...
1,Apple,AAPL,2023-02-15,282.196230,Buy,The stock of AAPL remains a top pick for growt...
2,Apple,AAPL,2023-03-15,244.033678,Hold,The company AAPL is facing near-term challenge...
3,Apple,AAPL,2023-04-15,224.219795,Buy,AAPL is well-positioned to capitalize on marke...
4,Apple,AAPL,2023-05-15,293.970689,Sell,The stock of AAPL has seen its best days for n...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1236 entries, 0 to 1235
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         1236 non-null   object
 1   Short Name      1236 non-null   object
 2   Date            1236 non-null   object
 3   Target Price    1236 non-null   float64
 4   Recommendation  1236 non-null   object
 5   Commentary      1236 non-null   object
dtypes: float64(1), object(5)
memory usage: 58.1+ KB

In [6]:
df.describe()

       Target Price
count   1236.000000
mean     325.949546
std      102.649001
min      150.100000
25%      238.050000
50%      319.245000
75%      418.517500
max      588.128250

In [9]:
df.value_counts("Recommendation")

Recommendation
Buy     441
Hold    408
Sell    387
Name: count, dtype: int64

In [10]:
df.value_counts("Company")

Company
3M                12
Moderna           12
PepsiCo           12
PayPal            12
PNC Financial     12
                  ..
Costco            12
Corteva           12
ConocoPhillips    12
Comcast           12
Zoetis            12
Name: count, Length: 103, dtype: int64

In [9]:
df.groupby(["Short Name"]).mean("Target Price")

            Target Price
Short Name
AAPL          240.382211
ABBV          337.605000
ADBE          356.791667
ALL           355.312500
AMGN          303.326667
...                  ...
VZ            387.334167
WFC           328.645000
WMT           311.120000
XOM           312.706667
ZTS           335.087500

[103 rows x 1 columns]